<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://use.fontawesome.com/ddb56eea73.js"></script>
  <title>Home</title>
</head>
<body>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/posts">Blog</a></li>
  </ul>
<br>
<h1>I'm Meg</h1>
<h3>and welcome to my online portfolio </h3>

  <img class="border resize center" src="../css/face.png">

<br><br>
<h3 class="white">social love </h3>
    <a href="https://www.instagram.com/shmegmegg/" target="_blank"><i class="fa fa-instagram  fa-3x fa-fw"></i></a>
    <a href="https://github.com/megankale" target="_blank"><i class="fa fa-github fa-3x fa-fw"></i></a>
    <a href="https://www.linkedin.com/in/megan-kale-856532124
" target="_blank"><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
    <a href="mailto:meganleannekale@gmail.com" target="_blank"><i class="fa fa-envelope  fa-3x fa-fw"></i></a>


</body>
</html>
