<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posts</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/posts">Blog</a></li>
  </ul>
  <br>
  <h1>My Work</h1>
  <h3>why don't you have a look around? </h3>
  <br>
  <ul class="rig columns-2">
  	<a href="https://github.com/megankale/Playlist"><li>
  		<img src="../css/jukeit.png" />

  		<p><span class="center"><strong>JukeBox</strong></span>An object-oriented media player that utilizes the Spotify API to customize a user-curated listening experience</p>
  	</li></a>
  	<a href="https://github.com/megankale/bulletinboard"><li>
  		<img src="../css/bulletinboard.png" />
  		<p><span class="center"><strong>Bulletin Board</strong></span>A message board website which can efficiently store and retrieve user submitted messages from a PostgreSQL database.</p>
  	</li></a>
  </ul>

</body>
</html>
